#title_right hr {
    color: #51261F;
}

.post_container object embed {
    margin: 0.625em 0 0.75em;
    position: relative;
}

#title {
    padding: 0;
}

#cat_container {
    margin-top:-0.0625em;
}

body {
    margin-top: 4.25em;
}

.post_container p {
    padding-top: 1px;
}

/*#body_post_35, #body_post_2 {
    margin-top:-2.6875em;
    display: block;
}*/

header, section, nav, footer {
    display: block;
}
