@font-face {
    font-family: bernard;
    src: url(bernhc-webfont.eot);
}

@font-face {
    font-family: american_typewriter;
    src: url(amrtypen_1-webfont.eot);
}

@font-face {
    font-family: american_typewriter_bold;
    src: url(amrtypeb_1-webfont.eot);
}

#prods,
#title_right,
#number,
nav li,
.post_container,
#gradient_left, #gradient_right,
#contact_info, #map,
#email_addresses strong {
    zoom: 1;
    display: inline;
}

#productions {
    letter-spacing: -2px;
}

#produksies {
    letter-spacing: 2px;
}

#pit {
    letter-spacing: -4px;
}

#title_right {
    margin-top: 4em;
    margin-top: 4.25em;
}

#title_right hr {
height: 0.25em;
border-color: #51261f;
}

#title h1 {
    margin-top: -2em;
}

#number {
    display: none;
    margin-top: -1.3333333em;
    top: -2em;
}

#cat_container {
    position: relative;
    margin-top: 1.1875em;
}

#voices #cat_container {
    margin-top: 2.25em;
}

#ads #cat_container {
    margin-top: 1.06em;
}

#i {
    display: inline-block;
    width: 95px;
    margin-left: -2px;
    margin-right: -12px;
}

#gradient_right { 
    margin-left: 22.25em;
}

#map {
    margin-top: -43.3125em;
    margin-right: 0;
    position: relative;
}

#map label {
    position: absolute;
    right: 0;
}


#cat_content .post_container .post_date {
    margin-top: 0.9375em;
}

#cat_content .post_container h3 {
    margin-bottom: 0.3em;
}

#cat_content {
    margin-top: -1.25em;
}

body {
    margin-top: 0.0625em;
}

nav ul {
    margin-bottom: 0.29411em;
}

nav li {
    zoom: 1;
    margin: 0 33px;
}

.page-item-2, .page-item-33, .page-item-511, .page-item-325 {
    margin-left: 0;
    margin-right: 0.97em;
}

.page-item-16 {
    margin-left: 0;
    margin-right: 1em;
}

.post_container p {
    padding-top: 1px;
}

#body_post_35, #body_post_2 {
    margin-top:-0.25em;
}

footer, header, nav, section {
    display: block;
}

#prods hr {
    margin-top: 0.5em;
    margin-bottom: 0.75em;
} 

.caption {
    text-align: center;
    margin-top: 0.583333em;
}

#title {
    padding: 0;
}

.page-item-35 {
    margin-right: 0;
}

#drop_down_button {
    margin-top: -0.125em;
}

#drop_down_list {
    margin-top: -0.5625em;
}

#drop_down_list li {
    width: 290px;
    margin-bottom: -3px;
}


#drop_down_list li#drop_down_top {
    margin-top: 0;
}

#drop_down_list li#drop_down_bottom {
    margin-top: -14px;
    height: 2em;
    background-repeat: no-repeat;
    border-bottom: 3px solid transparent;
}

.page-item-35 {
    position: absolute;
    right: 0;
}

footer {
    margin-top: 2.1875em;
}

#contact footer {
    margin-top: 4em;
}

#about footer, #schools-programs footer {
    margin-top: 3.65em;
}
