@font-face {
    font-family: bernard;
    src: url(bernhc-webfont.eot);
}

@font-face {
    font-family: american_typewriter;
    src: url(amrtypen_1-webfont.eot);
}

@font-face {
    font-family: american_typewriter_bold;
    src: url(amrtypeb_1-webfont.eot);
}


body {
    margin-top: 4.25em;
    border: 3px solid transparent;
}

nav ul {
    /*margin-bottom: -0.44117647em;*/
}

#title_right {
    margin-top: 1.75em;
}

#number {
    top: -2em;
}

#ads #cat_container {
    margin-top:-0.7em;
}

.post_container p {
    padding: 0.5625em 0 0.75em 0;
}

#body_post_35, #body_post_2, #schools-programs .body {
    margin-top:-0.75em;
}

footer, section, header, nav {
    display: block;
}

#home footer, #voices footer {
    /*margin-top: 3.1875em;*/
}

.caption p {
    margin-top: -0.166666em;
}

#body_post_33 p.caption {
    margin-bottom: -1px;
    margin-top: 1.1em;
}

#drop_down_button {
    width: 11.29em;
    background-repeat: repeat-y
    margin-top: -0.2em;
    padding-bottom: 1px;
}

#drop_down_list li {
    width: 18.3em;
}

#voices_drop_down {
    display: block;
    margin-top: 0.25em;
    /*margin-bottom: 29px;*/
}

.post-title {
    position: relative;
}

#voices .post-title {
    /*margin-bottom: -12px;*/
}

#title {
    margin-top: 1.1875em;
    padding: 0;
}

#home .body {
    margin-top: -0.75em;
}

#home .body ul {
    line-height: 1.21em;
}

li.page-item-35 {
    margin-right: 0.2em;
}

#voices #gradient_left, #voices #gradient_right {    /*********** This is only valid if there are lots of ads otherwise it breaks ***/
    top: -17.5em;
}

.inner_container {
    margin: 0.62em 0px 0.75em;
}

#drop_down_bottom {
    background-repeat: no-repeat;
    height: 1em;
}

#about .body p, #schools-programs .body p {
    line-height: 1.21em;
}
