@font-face {
    font-family: bernard;
    src: url(bernhc-webfont.eot);
}

@font-face {
    font-family: american_typewriter;
    src: url(amrtypen_1-webfont.eot);
}

@font-face {
    font-family: american_typewriter_bold;
    src: url(amrtypeb_1-webfont.eot);
}

#prods,
#title_right,
#number,
nav li,
.post_container,
#gradient_left, #gradient_right,
#contact_info, #map,
#email_addresses strong {
    zoom: 1;
    display: inline;
}

#productions {
    letter-spacing: -2px;
}

#produksies {
    letter-spacing: 2px;
}

#pit {
    letter-spacing: -4px;
}

#title_right {
    margin-top: 4.3125em;
}

#title_right hr {
    height: 0.25em;
    border-color: #51261f;
    margin-top: 0.5em;
    margin-bottom: 0.75em;
}

#title_right img {
    margin-top: -1em;
}

#title h1 {
    margin-top: -2em;
}

#cat_container {
    position: relative;
    margin-top: 0;
}

#i {
    display: inline-block;
    width: 95px;
    margin-left: -2px;
    margin-right: -12px;
}

#gradient_right { 
    margin-left: 22.25em;
}

#map {
    margin-top: -43.3125em;
    margin-right: 0;
    position: relative;
}

#map label {
    position: absolute;
    right: 0;
}

body {
    overflow: hidden;
    position: relative;
    margin-top: 0;
    
}

#cat_content .post_container .post_date {
    margin-top: 0.9375em;
}

#cat_content .post_container h3 {
    margin-bottom: 0.3em;
}

#body_post_35, #body_post_2 {
    margin-top:-3.75em;
}

footer, header, nav, section {
    display: block;
}

#number {
    display: none;
    margin-top: -1.566666em;
}

#paging a:hover {
    color: #d5e445;
}

#title {
    padding: 0;
}

#caption {
    margin-top: -1.791em;
}

nav li {
    zoom: 1;
    margin: 0 30px;
}

.page-item-33 {
    margin-left: 0;
    margin-right: 1em; 
}

.page-item-2 {
    margin-right: 0.08em;
}

.page-item-16, .page-item-325 {
    margin-right: 0.11em;
}

.page-item-35 {
    position: absolute;
    right: 0;
    margin-right: 0;
}
 #home .body, #schools-programs .body {
     margin-top: -3.8em;
 }

#voices_drop_down {
    margin-top: -2.75em
}

#drop_down_button {
    background: url(images/drop_down_button_ie6.jpg);
}

#drop_down_list li {
    background: url(images/drop_down_list_bg_ie6.jpg);
    width: 290px;
    margin-bottom: -3px;
}

li#drop_down_top {
    background: url(images/drop_down_list_top_ie6.jpg) no-repeat;
    margin-bottom: -15px;
}

li#drop_down_bottom {
    background: url(images/drop_down_list_bottom.png);
    background-repeat: no-repeat;
}

#drop_down_button {
    position: relative;
    z-index: 100;
}

#drop_down_list {
    position: absolute;
    left: 0;
    top: 29px;
}

#ads #cat_container {
    margin-top: -3.625em;
}
 footer {
     margin-top: 3.5em;
 }
