#title_right hr {
    color: #51261F;
}

#title_right img {
    margin-left: 1.25em;
}

.post_container p {
    padding: 0.625em 0 0.75em 0;
}

#title {
    padding: 0;
}

#gradient_right, #voices #gradient_right {
    left: 3px;
}

.inner_container {
    margin: 0.62em 0px 0.75em;
}
