@font-face {
    font-family: bernard;
    src: url(bernhc-webfont.eot);
}

body {
    margin-top: 4.25em;
}

nav ul {
    margin-bottom: -0.44117647em;
}

#title_right {
    margin-top: 1.75em;
}

#number {
    top: -2em;
}

#ads #cat_container {
    margin-top:-0.375em;
}

.post_container p {
    padding: 0.5625em 0 0.75em 0;
}

#body_post_35, #body_post_2 {
    margin-top:-1.4375em;
    display: block;
}

footer {
    display: block;
}

.caption p {
    margin-top: -0.166666em;
}

#drop_down_button {
    width: 11.29em;
    background-repeat: repeat-y
    margin-top: -0.2em;
}

#drop_down_list li {
    width: 18.3em;
}

#voices_drop_down {
    display: block;
    margin-top: -0.3125em;
}

.post-title {
    margin-bottom: 2px;
}

