body {
    font-family: Impact;
    margin-top: 4.1875em;
}

#pit, #title_right {
    font-weight: normal;
}

nav ul {
    margin-bottom: 0;
}

#title_right {
    margin-top: 2.625em;
}

#title_right hr {
    color: #51261F;
}

#number {
    margin-top: 0.1666666em;
}

#cat_container {
    /*margin-top:-2.5625em*/;
}

.post_container p {
    padding: 0.6875em 0 0.75em 0;
}

#map {
    float: none;
}

#body_post_2 {
    margin-top: 1.75em;
    display: block;
}

#contact .body {
    margin-top: 1em;
}

footer, header, nav, section {
    display: block;
}

.page-item-35 {
    margin-top: -1em;
    margin-right: 0;
}

#title {
    padding: 0;
}

nav li {
    /*margin: 0 0.588em;*/
}

#body_post_33 p.caption, h3 {
    font-family: Impact; 
}

nav {
    font-size: 2em;
}

#voices_drop_down {
    margin: 1.75em 0 3em;
}

#drop_down_button a {
    font-size: 0.875em;
}

#ads #cat_container {
    height: 14.25em;
}

#ads #inner_container {
    margin-bottom: 11px;
}

#voices #cat_container {
   margin-top: -2em;
   height: 14.25em;
} 

.inner_container {
    margin-top: 11px;
}

#gradient_right {
    left: 3px!important;
}

.schools-programs .body {
    margin-top: 1em;
}
