body {
    font-family: Impact;
    margin-top: 4.1875em;
}

#pit, #title_right {
    font-weight: normal;
}

nav ul {
    margin-bottom: 0;
}

#title_right {
    margin-top: 2.625em;
}

#title_right hr {
    color: #51261F;
}

#number {
    margin-top: 0.1666666em;
}

#cat_container {
    margin-top:-2.5625em;
}

.post_container p {
    padding: 0.6875em 0 0.75em 0;
}

#map {
    float: none;
}

#body_post_35, #body_post_2 {
    margin-top: 1.75em;
    display: block;
}

footer, header, nav, section {
    display: block;
}

.page-item-35 {
    margin-top: -1em;
}

#title {
    padding: 0;
}

nav li {
    margin: 0 0.588em;
}

.caption {
    margin-top: 1em;
}

nav {
    font-size: 2em;
}

#voices_drop_down {
    margin-top: 1.75em;
}

#drop_down_button a {
    font-size: 0.875em;
}

#voices #cat_container, #ads #cat_container {
    margin-top: 0;
}
